[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BlueWho
GenericName=BlueWho
Comment=Information and notification of new discovered bluetooth devices
Comment[it_IT]=Informazioni e notifica dei nuovi dispositivi bluetooth rilevati
Terminal=false
Categories=Utility;GTK;
Icon=bluewho
TryExec=bluewho
Exec=bluewho
