[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BlueWho
GenericName=BlueWho
Comment=A GTK utility to inform and notify you when a new bluetooth device is discovered
Comment[it_IT]=Informazioni e notifica dei nuovi dispositivi bluetooth rilevati
Comment[bg]=GTK приложение, което Ви информира чрез известие, когато е открито ново Bluetooth устройство
Comment[da]=Et GTK-redskab der informerer og påminder dig om nye bluetoothenheder
Comment[de]=Ein GTK-Werkzeug, dass über das Erkennen eines neuen Bluetooth-Gerätes informiert und benachrichtigt
Comment[es]=Una utilidad escrita en GTK para avisar y informar acerca de nuevos dispositivos bluetooth descubiertos
Comment[es_CO]=Una aplicación GTK que le informa cuando un nuevo dispositivo Bluetooth es detectado
Comment[fr]=Un outil GTK pour informer et notifier quand un nouveau dispositif bluetooth est découvert
Comment[he]=תוכנת GTK המתריעה בפניך על איתור מכשירי בלוטות' חדשים
Comment[it]=Un'utilità GTK per informarti e notificarti quando un nuovo dispositivo bluetooth viene scoperto
Comment[nl]=Een GTK programma die informeert en meldt wanneer er een nieuw Bluetoothapparaat gevonden is
Comment[ru]=GTK-утилита для оповещения при обнаружении новых устройств Bluetooth
Comment[tr]=Yeni bir bluetooth aygıtı bulunduğunda sizi uyaran bir GTK+ uygulaması
Terminal=false
Categories=Utility;GTK;
Icon=bluewho
TryExec=bluewho
Exec=bluewho
