[Desktop Entry]
Version=1.0
Name=BlueWho
Comment=Information and notification of new discovered bluetooth devices
Type=Application
Comment[it_IT]=Informazioni e notifica dei nuovi dispositivi bluetooth rilevati
Exec=/usr/bin/bluewho
Icon=/usr/share/bluewho/data/bluewho.svg
Terminal=false
Categories=Utility;GTK;
